%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand= t('header.title')
      = link_to edit_cart_path, class: 'shop-link pull-right visible-xs' do
        %span.shop-icon
          %span.shop-quantity= shopping_cart.amount
    = link_to edit_cart_path, class: 'shop-link pull-right hidden-xs' do
      %span.shop-icon
        %span.shop-quantity= shopping_cart.amount
    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      .visible-xs
        %ul.nav.navbar-nav
          %li
            = link_to t('header.home'), root_path
          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}= t('header.shop')
            %ul.dropdown-menu
              = render 'books/categories', cached: true
          = render 'partials/account' if current_user
          = render 'partials/login' unless current_user
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            = link_to t('header.home'), root_path
          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}= t('header.shop')
            %ul.dropdown-menu
              = render 'books/categories', cached: true
          = render 'partials/account' if current_user
          = render 'partials/login' unless current_user
