%h3.in-gold-500.mb-25= t('.head', count: reviews.count)
- reviews.each do |review|
  .general-message-wrap.divider-lg
    .clearfix
      %span.img-circle.logo-size.inlide-block.pull-left.logo-empty= review.user.email #review.user.avatar_letter
      .ml-70
        %div
          .general-message-date.hidden-xs= review.decorate.formatted_created_at
          .max-240
            .general-message-verified= t('shared.verified')
            .general-message-name= review.title
        .mb-15= review.decorate.star_rating
        %p= review.message