%main.container
  = render 'slider'
.container
  .jumbotron.text-center.mb-0
    %h2.h1= t('home.welcome')
    .mb-res-50
      %p= t('home.description')
    %a.button.btn.btn-default{href: catalog_path}= t('home.get_started')
  .mb-35
    = render 'best_sellers'
