%li.mr-35
  %a.filter-link{href: catalog_path}
    = t('categories.all')
    %span.badge.general-badge= Book.all.size
- @categories.each do |category|
  %li.mr-35
    = link_to catalog_path(category_id: category.id), class: "filter-link category" do
      = category.name
      %span.badge.general-badge= category.books_count
