= render 'checkouts/shared/header'
.text-center.mb-40
  %h3.general-subtitle= t('.thanks_for_order')
  %p.fw-300= t('.order_confirmation_sent', full_name: @order.shipping_address.full_name, email: @order.user.email)
.row.mb-20
  .col-sm-6
    .visible-xs
      %p.general-order-number.mb-0= t('.order', order_id: @order.id)
      %p.general-address.mb-30= @order.created_at_formatted
    %p.general-address
      = @order.shipping_address.full_name
      %br
      = @order.shipping_address.address
      %br
      #{@order.shipping_address.city} #{@order.shipping_address.zip}
      %br
      = @order.shipping_address.country_name
      %br
      = t('.phone', number: @order.shipping_address.phone)
  .col-sm-6.hidden-xs.text-right
    %p.general-order-number.mb-0= t('.order', order_id: @order.id)
    %p.general-address.mb-30= @order.created_at_formatted
-# = render 'checkouts/shared/line_items', line_items: @order.line_items
-# = render 'checkouts/shared/summary_right', orderable: @order
.text-center
  = link_to t('.back'), root_path, class: 'btn btn-default mb-20'