!!!
%html
  = Gon::Base.render_data
  = render 'partials/head'
  %body
    = render 'partials/header', cached: true
    = render 'partials/flash'
    = yield
    = render 'partials/footer', cached: true
  -# %script{src: "https://use.fontawesome.com/67602d7308.js"}
