!!!
%html
  = Gon::Base.render_data
  = render 'partials/head'
  %body
    = render 'partials/header', cached: true
    
    %main.container#main{class: yield(:main_extra_class)}
      = render 'partials/flash'
      = yield
    = render 'partials/footer', cached: true
