!!!
%html
  = Gon::Base.render_data
  = render 'partials/head'
  %body
    = render 'partials/header', cached: true
    = render 'partials/flash'
    %main.container
      = yield
    = render 'partials/footer', cached: true
  